.icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5rem;
    fill: rgba(80, 21, 174, 0.81);
}

.checked {
    background-color: #000;
    color: #fff;
}

.button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1)
}

.button:focus {
    outline: none;
}
